<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for ('static', filename='base.css') }}">
    <title>{% block title%} {%endblock%}</title>
</head>
<body>
    <header>
        <h1>World Database Queries</h1>
        nclude "_navigation.html" 
    </header>
    {% block content %}
      
    {% endblock %} 
</body>
<footer>
    <h6>Proyecto de Leo y Fernando</h6>
</footer>
</html>