{% extends './decorated_base.html' %} 
    {% block datatext %}
    <div class="container-fluid text-center my-5">
        <h2 class="color1">Consulta 1</h2>
        <div class="container-lg text-justify py-5 fw-light">
            <p>
                Consulta 1 Texto y Querries
            </p>
            <p>
                <h3>Ciudades en europa donde la población sea mayór a la media mundial</h3>
                <table border="1">
                    <thead>
                        <tr>
                            <th>City</th>
                            <th>Country</th>
                            <th>Population</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in results %}
                            <tr>
                                <td>{{ row.city }}</td>
                                <td>{{ row.country }}</td>
                                <td>{{ row.population }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </p>

        </div>
    </div>
    {% endblock %}