{% extends './decorated_base.html' %} 
<style>
    /* Center the table in the container */
    .table-container {
      width: 80%; /* Adjust width as needed */
      margin: 20px auto;
      padding: 20px;
      background-color: #f9f9f9;
      border-radius: 8px;
    }
  
    /* Style the table */
    table {
      width: 100%;
      border-collapse: collapse; /* Merge borders between cells */
      font-family: 'Arial', sans-serif; /* Use a clean font */
      border: 1px solid #ddd;
    }
  </style>

    {% block datatext %}
    <div class="container-fluid text-center my-5">
        <h2 class="color1">Consulta 2</h2>
        <div , style="text-align: center;">
            <p>
                <h4>El nombre del governante de un pais con una lengua hablada por al menos el 50% de la población</h4>
                
            </p>
        </div>
        <div , class="table-container">
            <p>
                <form method="GET" action="/2">
                    <label for="sort_by">Sort by:</label>
                        <select name="sort_by" id="sort_by">
                            <option value="HeadOfState" {% if request.args.get('sort_by', 'Percentage') == 'HeadOfState' %}selected{% endif %}>Head Of State</option>
                            <option value="Language" {% if request.args.get('sort_by', 'Percentage') == 'Language' %}selected{% endif %}>Language</option>
                            <option value="Percentage" {% if request.args.get('sort_by', 'Percentage') == 'Percentage' %}selected{% endif %}>Percentage</option>
                        </select>
        
                    <label for="sort_order">Order:</label>
                        <select name="sort_order" id="sort_order">
                             <option value="asc" {% if request.args.get('sort_order','desc') == 'asc' %}selected{% endif %}>Ascending</option>
                             <option value="desc" {% if request.args.get('sort_order','desc') == 'desc' %}selected{% endif %}>Descending</option>
                        </select>
                
                    <button type="submit">Sort</button>
                </form>

                <table , class="table">
                    <thead>
                        <tr>
                            <th>Head Of State</th>
                            <th>Language</th>
                            <th>Percentage</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in results %}
                            <tr>
                                <td>{{ row.HeadOfState}}</td>
                                <td>{{ row.Language }}</td>
                                <td>{{ row.Percentage }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </p>
        </div>
    </div>
    {% endblock %}