{% extends './decorated_base.html' %} 
<style>
    /* Center the table in the container */
    .table-container {
      width: 80%; /* Adjust width as needed */
      margin: 20px auto;
      padding: 20px;
      background-color: #f9f9f9;
      border-radius: 8px;
    }
  
    /* Style the table */
    table {
      width: 100%;
      border-collapse: collapse; /* Merge borders between cells */
      font-family: 'Arial', sans-serif; /* Use a clean font */
      border: 1px solid #ddd;
    }
  </style>

{% block datatext %}
<div class="container-fluid text-center my-5">
    <h2 class="color1">Consulta 5</h2>
    <div , style="text-align: center;">
        <p>
            <h4>Tipo de gobierno de países Africanos con gnp mayor al promedio del continente</h4>
        </p>
    </div>
    <div , class="table-container">
        <p>
            <form method="GET" action="/5">
                <label for="sort_by">Sort by:</label>
                    <select name="sort_by" id="sort_by">
                        <option value="governmentform" {% if request.args.get('sort_by', 'gnp') == 'GovernmentForm' %}selected{% endif %}>GovernmentForm</option>
                        <option value="name" {% if request.args.get('sort_by', 'gnp') == 'Name' %}selected{% endif %}>Name</option>
                        <option value="gnp" {% if request.args.get('sort_by', 'gnp') == 'GNP' %}selected{% endif %}>GNP</option>
                    </select>
    
                <label for="sort_order">Order:</label>
                    <select name="sort_order" id="sort_order">
                         <option value="asc" {% if request.args.get('sort_order','desc') == 'asc' %}selected{% endif %}>Ascending</option>
                         <option value="desc" {% if request.args.get('sort_order','desc') == 'desc' %}selected{% endif %}>Descending</option>
                    </select>
            
                <button type="submit">Sort</button>
            </form>

            <table , class="table">
                <thead>
                    <tr>
                        <th>Government Form</th>
                        <th>Name</th>
                        <th>GNP</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in results %}
                        <tr>
                            <td>{{ row.governmentform }}</td>
                            <td>{{ row.name }}</td>
                            <td>{{ row.gnp }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </p>
    </div>
</div>
{% endblock %}