{% extends './decorated_base.html' %} 
<style>
    /* Center the table in the container */
    .table-container {
      width: 80%; /* Adjust width as needed */
      margin: 20px auto;
      padding: 20px;
      background-color: #f9f9f9;
      border-radius: 8px;
    }
  
    /* Style the table */
    table {
      width: 100%;
      border-collapse: collapse; /* Merge borders between cells */
      font-family: 'Arial', sans-serif; /* Use a clean font */
      border: 1px solid #ddd;
    }
  </style>

    {% block datatext %}
    <div class="container-fluid text-center my-5">
        <h2 class="color1">Consulta 3</h2>
        <div , style="text-align: center;">
            <p>
                <h4>La capital del país con densidad poblacional mas baja que el promedio (de densidad poblacional) de los paises que tienen GNP mayór al promedio mundial </h4>
                
            </p>
        </div>
        <div , class="table-container">
            <p>
                <form method="GET" action="/3">
                    <label for="sort_by">Sort by:</label>
                        <select name="sort_by" id="sort_by">
                            <option value="city" {% if request.args.get('sort_by', 'pdensity') == 'city' %}selected{% endif %}>City</option>
                            <option value="country" {% if request.args.get('sort_by', 'pdensity') == 'country' %}selected{% endif %}>Country</option>
                            <option value="pdensity" {% if request.args.get('sort_by', 'pdensity') == 'pdensity' %}selected{% endif %}>Population Density</option>
                        </select>
        
                    <label for="sort_order">Order:</label>
                        <select name="sort_order" id="sort_order">
                             <option value="asc" {% if request.args.get('sort_order','desc') == 'asc' %}selected{% endif %}>Ascending</option>
                             <option value="desc" {% if request.args.get('sort_order','desc') == 'desc' %}selected{% endif %}>Descending</option>
                        </select>
                
                    <button type="submit">Sort</button>
                </form>

                <table , class="table">
                    <thead>
                        <tr>
                            <th>City</th>
                            <th>Country</th>
                            <th>Population Density (P/km²)</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in results %}
                            <tr>
                                <td>{{ row.city }}</td>
                                <td>{{ row.country }}</td>
                                <td>{{ row.pdensity or 'N/A'}}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </p>
        </div>
    </div>
    {% endblock %}