{% extends './decorated_base.html' %} 
    {% block datatext %}
    <div class="container-fluid text-center my-5">
        <h2 class="color1">Consulta 3</h2>
        <div class="container-lg text-justify py-5 fw-light">
            <p>
                Consulta 3 Texto y Querries
            </p>
            <p>
                La capital del país con la (densidad poblacional) mas baja que el promedio de los tiene gnp mayór al promedio mundial
            </p>
        </div>
    </div>
    {% endblock %}