{% extends './base.html' %} 
    {% block title %} WORLD QUERIES {% endblock %} 
    {% block content %}
    <div class="container-fluid title my-4 shadow">
        <div class="title-img">
            <img src="{{ url_for('static', filename='images/earth.jpeg') }}" alt="">
        </div>
        <h1 class="text-overlay color4 fw-light">
            W<i class="bi bi-globe-americas color4"></i>RLD QUERIES 
        </h1>
    </div>
        {% block datatext %}
        
        {% endblock %}
    {% endblock %}