body{
    background-color: #e7f5dc;
}
.shadow{
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15), 0 4px 6px rgba(0, 0, 0, 0.1);
}
.link{
    color: white !important;
    opacity: 0.6;
}
.link:hover{
    opacity: 1;
    transform: scale(1.05); 
}
.text-justify{
    text-align: justify;
}
h1, h2, h3, h4, h5, h6, p, a{
    font-family: "Kantumruy Pro", sans-serif;
    font-optical-sizing: auto;
}
/* COLORES */
.color1{
    color: #728156;
}
.color2{
    color: #88976c;
}
.color3{
    color: #b6c99b;
}
.color4{
    color: #cfe1b9;
}
.color5{
    color: #e7f5dc;
}
.color6{
    color: #505050
}
/* MEDIA QUERIES */

/* Para pantallas grandes (monitores grandes o pantallas de escritorio) */
@media (min-width: 1400px) {

    h1{
        font-size: 120px;
    }
    h2{
        font-size: 96px;
    }
    h3{
        font-size: 76px;
    }
    h4{
        font-size: 60px;
    }
    h5{
        font-size: 48px;
    }
    h6{
        font-size: 38px;
    }
    p{
        font-size: 30px;
    }
}

/* Para pantallas medianas (laptops y tablets horizontales) */
@media (min-width: 992px) and (max-width: 1399px) {
    h1{
        font-size: 96px;
    }
    h2{
        font-size: 76px;
    }
    h3{
        font-size: 60px;
    }
    h4{
        font-size: 48px;
    }
    h5{
        font-size: 38px;
    }
    h6{
        font-size: 30px;
    }
    p{
        font-size: 25px;
    }
}

/* Para pantallas pequeñas (tablets y smartphones grandes) */
@media (min-width: 768px) and (max-width: 991px) {
    h1{
        font-size: 76px;
    }
    h2{
        font-size: 60px;
    }
    h3{
        font-size: 48px;
    }
    h4{
        font-size: 38px;
    }
    h5{
        font-size: 30px;
    }
    h6{
        font-size: 25px;
    }
    p{
        font-size: 20px;
    }
    
}

/* Para pantallas extra pequeñas (smartphones) */
@media (max-width: 767px) {
    h1{
        font-size: 60px;
    }
    h2{
        font-size: 48px;
    }
    h3{
        font-size: 38px;
    }
    h4{
        font-size: 30px;
    }
    h5{
        font-size: 25px;
    }
    h6{
        font-size: 20px;
    }
    p{
        font-size: 16px;
    }
}

/* NAVBAR */
.navbar{
    background-color: #88976c;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.25);
}
.navbar-toggler{
    border: none;
}
.navbar-toggler:focus{
    outline: none;
    box-shadow: none;
}
.dropdown-menu{
    border: none;
    background-color: #728156;
}
.dropdown-item {
    opacity: 0.6;
}
.dropdown-item:hover {
    opacity: 1;
}

/* FOOTER */
footer{
    background-color: #728156;
    display: flex; 
    align-items: center; 
    justify-content: center;
}
.footer-content p {
    margin: 0; 
    padding: 0;
}


/* INDEX */
.title{
    background-color: black;
    position: relative;
    overflow: hidden; /* Asegura que no se desborden elementos */
}
.text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.title-img{
    position: relative;
}
.title-img img {
    width: 100%;
    height: 60vh;
    object-fit: cover;
    display: block;
    opacity: 0.3;
}
.text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
    text-align: center;
}

.content{
    display: flex;
    height: 100vh;
    align-items: center;
    text-align: center;
}
.table-container {
    width: 80%; /* Adjust width as needed */
    margin: 20px auto;
    padding: 20px;
    background-color: white;
}
.ver-align{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.l-query{
    text-decoration: none;
    opacity: 0.8;
    color: rgb(32, 32, 32);
}
.l-query:hover{
    opacity: 1;
    transform: scale(1.2);
}